*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{height: 100%;
}


header {
    background-color: #73b4ff;
    padding:10px 2%;
    display: flex;
    justify-content: space-between;
}

.logo
{margin-top: 10px;
}
.logo h3
{cursor: pointer;    
} 
.logo h3:hover 
{opacity: 0.7;
}
.icons-header:hover
{ opacity: 0.7;
}


.info-header svg
{cursor:pointer}

.info-header{
    color: white;
    display: flex;
}

.info-header img{
     width: 40px;
     height: 40px;
     border-radius: 20px;
     margin-left:10px;
}

.info-header-icons{
        width: 6%;
        color: white;
        display: flex;
        justify-content: space-between;
    }

.icons-header{
    margin:12px 10px;
    cursor: pointer;

}

.info-header svg {
    margin-left: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar{
    /* padding: 8px; */
    width: 20%;
    background-color: white;
    height: 100%;
}
.sidebar a:hover
{border-left: 4px solid #73b4ff;
background-color: rgb(245,245,245);;
color: #777 ;
font-weight: bold;}

.sidebar a:hover .sidebar a > svg{
    color: #777;
}

.sidebar a.sidebar-active{
    border-left: 4px solid #73b4ff;
    background-color: rgb(245,245,245);;
    color: #777 ;
    font-weight: bold;
}

.sidebar a.sidebar-active > svg{    
    color: #999;
}


.sidebar h3{
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a > svg{
    color: #444;
}

.content{
    padding: 20px;
    width: 80%;
    background-color: rgb(245,245,245);
}

.titulo-secao {
    border-radius: 10px;
    background-color:white;
    padding: 10px;
}

.titulo-secao h2{
    font-size: 19px;
}

.titulo-secao p{
    font-size: 14px;
}

.titulo-secao p i{
    color: #73b4ff;
}

.separator{
    width: 100%;
    height:1px;
    background-color: rgb(240,240,240);
}

.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-single{
    display: flex;
    justify-content: space-between;
    border-radius: 10px; 
    padding: 30px;
    color: white;
    margin: 0 10px;
    width: 100%;
    
    
}
.fa-money-check-dollar:before {
    content: "\f53d";
    font-size: 30px;
}

.feed{
    margin: 20px;
    background: white;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}

.feed-single{
    display: flex;
    justify-content:space-between;
}

.feed-text{
    display: flex;
}

.feed-text span{
    color: black;
    display: inline-block ;
    margin: 8px;   
}

.feed-text i{

    position: absolute;
    left:50%;
    top: 50%;
    transform:translate(-50%,-50%);
    font-size: 18px;
    color: #73b4ff;
}
.feed-text .circle-icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #dadeff ;
    position: relative;
}

.feed-time{
    color: #444;
}
